header {
    display: flex;
    align-items: center;
    column-gap: 64px;
    width: 100%;
    height: 70px;
    padding: 20px;
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 27px;
    list-style: none;
}

a {
    color: rgba(255, 255, 255, 0.786);
}

.navigation a {
    color: rgba(255, 255, 255, 0.786);
}

.navigation_link {
    justify-content: space-between;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: .5s;
    position: relative;
}
.navigation_link:hover {
    color: rgb(0, 48, 194);

}
.navigation_link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;

    width: 60%;
    height: 1px;
    background: rgb(28, 0, 213);

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s;
}
.navigation_link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.4s;
}

.navigation_social {
    margin-left: auto;
    margin-right: 140px;

    display: flex;
    align-items: center;
    column-gap: 20px;
}

.navigation_social svg{
    width: 20px;
    height: 20px;
    opacity: 0.6;

    transition: all 0.4s;
}

.navigation_social svg:hover {
    opacity: 1;
    transform: translateY(-5px);
    cursor: pointer;
}
.navigation_social {
    padding: auto;
    margin: 780px;
}